{
  "extends": "eslint-config-airbnb",
  "globals": {
    "before": true,
    "beforeEach": true,
    "afterEach": true,
    "after": true,
    "describe": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0
  }
}
